
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
          <!--<li id="">
          <a href="#">
            <i class="glyphicon glyphicon-list-alt"></i>
            <span>Reports</span>
          </a>
        </li> -->
        <li class="treeview" id="people_menu">
          <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            <span>People</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/capstone/view/pages/users.html"><i class=""></i>Users</a></li>
            <li><a href="/capstone/view/pages/suppliers.html"><i class=""></i>Suppliers</a></li>
            <li><a href="/capstone/view/pages/Customers.html"><i class=""></i>Customers</a></li>
          </ul>
        </li>
        <li id="products_menu">
          <a href="/capstone/view/pages/inventory.html">
            <i class="glyphicon glyphicon-shopping-cart"></i> <span>Inventory</span>
          </a>
        </li>
        <li id="inprocess_menu">
          <a href="/capstone/view/pages/operations.html">
            <i class="glyphicon glyphicon-refresh"></i> <span>Operations</span>
          </a>
        </li>
        <li class="treeview" id="configuration_menu">
          <a href="#">
            <i class="glyphicon glyphicon-cog"></i> <span>Configuration</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/capstone/view/pages/category.html"><i class=""></i>Category</a></li>
            <li><a href="/capstone/view/pages/subcategory.html"><i class=""></i>Sub Category</a></li>
            <li><a href="/capstone/view/pages/source.html"><i class=""></i>Source</a></li>
            <li><a href="/capstone/view/pages/packagetype.html"><i class=""></i>Package Type</a></li>
            <li><a href="/capstone/view/pages/unitofmeasurement.html"><i class=""></i>Unit of Measurement</a></li>
            <li><a href="/capstone/view/pages/storage.html"><i class=""></i>Storage</a></li>
            <li><a href="/capstone/view/pages/processor.html"><i class=""></i>Processor</a></li>
          </ul>
        </li>
      </ul>
