
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
          <li class="treeview" id="operation_menu">
          <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            <span>Operations</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="treeview">
              <a href="#"">
                 <i class="icon"><img src="/capstone/view/img/icons/boxes.png"></i>
                <span>Inventory</span>
                <span class="pull-right-container">
                  <i class="glyphicon glyphicon-menu-down pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/capstone/view/pages/receivestock.html"><i class=""></i>Receive Stock</a></li>
                <li><a href="/capstone/view/pages/adjuststock.html"><i class=""></i>Adjust Stock</a></li>
                <li><a href="/capstone/view/pages/location.html"><i class=""></i>Move Stock (Locations)</a></li>
                <li><a href="/capstone/view/pages/toprocess.html"><i class=""></i>Move Stock (To Process)</a></li>
                <li><a href="/capstone/view/pages/tosell.html"><i class=""></i>Move Stock (To Sell)</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#"">
                <i class="icon"><img src="/capstone/view/img/icons/back.png"></i>
                <span>Returns</span>
                <span class="pull-right-container">
                  <i class="glyphicon glyphicon-menu-down pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/capstone/view/pages/suppliers.html"><i class=""></i>Returns</a></li>
                <li><a href="/capstone/view/pages/Customers.html"><i class=""></i>Order Processing</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#"">
                <i class="icon"><img src="/capstone/view/img/icons/process.png"></i>
                <span>Order Processing</span>
                <span class="pull-right-container">
                  <i class="glyphicon glyphicon-menu-down pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/capstone/view/pages/suppliers.html"><i class=""></i>Returns</a></li>
                <li><a href="/capstone/view/pages/Customers.html"><i class=""></i>Order Processing</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#"">
                <i class="icon"><img src="/capstone/view/img/icons/sales.png"></i>
                <span>Sales</span>
                <span class="pull-right-container">
                  <i class="glyphicon glyphicon-menu-down pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/capstone/view/pages/suppliers.html"><i class=""></i>Returns</a></li>
                <li><a href="/capstone/view/pages/Customers.html"><i class=""></i>Order Processing</a></li>
              </ul>
            </li>
            <li class="treeview" id="people_menu">
              <a href="#"">
                <i class="icon"><img src="/capstone/view/img/icons/collaboration.png"></i>
                <span>People</span>
                <span class="pull-right-container">
                  <i class="glyphicon glyphicon-menu-down pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/capstone/view/pages/suppliers.html"><i class=""></i>Suppliers</a></li>
                <li><a href="/capstone/view/pages/Customers.html"><i class=""></i>Customers</a></li>
                <li><a href="/capstone/view/pages/users.html"><i class=""></i>Users</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="treeview" id="configuration_menu">
          <a href="#">
            <i class="glyphicon glyphicon-cog"></i> <span>Configuration</span>
            <span class="pull-right-container">
              <i class="glyphicon glyphicon-menu-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/capstone/view/pages/category.html"><i class=""></i>Category</a></li>
            <li><a href="/capstone/view/pages/source.html"><i class=""></i>Source</a></li>
            <li><a href="/capstone/view/pages/packagetype.html"><i class=""></i>Package Type</a></li>
            <li><a href="/capstone/view/pages/unitofmeasurement.html"><i class=""></i>Unit of Measurement</a></li>
            <li><a href="/capstone/view/pages/storage.html"><i class=""></i>Storage</a></li>
            <li><a href="/capstone/view/pages/processor.html"><i class=""></i>Processor</a></li>
          </ul>
        </li>
      </ul>
